
<div class="address-container" >
  <div class="connection-container" >
    <i class="connection-status" [class.is-connected]="connectionStatus" ></i>
    <input type="url" class="tw-input connection-url" [(ngModel)]="connectionUrl">
  </div>
  <div class="endpoint-container" >
    <select class="tw-select" [(ngModel)]="selectedRequisitionMethod" >
      <option [value]="method" *ngFor="let method of requisitionMethods">{{method}}</option>
    </select>
    <input type="text" class="tw-input endpoint-address" [(ngModel)]="endPoint" (input)="saveEndpoint()">
  </div>
</div>

<div>
  {{ connectionUrl }}/api/{{ endPoint }}
</div>

<div class="code-editor-container" >
  <app-code-input [(code)]="inputCode" ></app-code-input>
  <app-play-button [isPlaying]="isPlaying" (click)="onPlay()" ></app-play-button>
  <app-code-output [code]="outputCode" ></app-code-output>
</div>

