.connection-status{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: red;
  &.is-connected{
    background-color: green;
  }
}

.code-editor-title{
  font-size: 20px;
  margin: 15px 0;
}

.tw-select{
  height: 40px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.tw-input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

.connection-container{
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 15px;
  align-items: center;
  .endpoint-path-container{
    .endpoint-prefix{

    }
    .connection-url{
      padding-left: 55px;
    }
  }
}
.endpoint-container{
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 15px;
  align-items: center;
  margin: 0;
}
.endpoint-path-container{
  position: relative;
  .endpoint-prefix{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: gray;
  }
  .endpoint-address{
    padding-left: 45px;
  }
}


.address-container{
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "connection play" "endpoint play";
  grid-gap: 15px;
  align-items: center;
  .connection-container{
    grid-area: connection;
  }
  .endpoint-container{
    grid-area: endpoint;
  }
  .play-button{
    grid-area: play;
    &:not(.is-connected){
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
