.play-button{
  border: none;
  background-color: #ccc;
  border-radius: 100%;
  width:50px;
  height: 50px;
  color: black;
  cursor: pointer;

  &.is-playing{
    .play-button-icon{
      border-top: 10px solid currentColor;
      border-right: 10px solid currentColor;
      border-bottom: 10px solid currentColor;
      border-left: 10px solid currentColor;
    }
  };
  &:not(.is-playing){
    .play-button-icon{
      border-top: 15px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 25px solid currentColor;
    }
  }
}

.play-button-icon{
  display: inline-block;
  transition: all 0.5s ease;
}
